<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>de.r8s.Nostalgy4MailApp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>HAJO</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>BundleLoader</string>
	<key>SIMBLApplicationIdentifier</key>
	<array>
		<string>com.apple.mail</string>
	</array>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>60D52D22-7491-4CA7-95BA-88215BD88F8E</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>(c) Hajo Nils Krabbenhöft</string>
</dict>
</plist>
